*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.code-workspace
*.log
go.work
go.work.sum

.DS_Store
Thumbs.db

.git/
bin/
out/
dist/
.vscode-test/
.vscode/
tmp/
temp/
test/
configs/
deployments/docker-compose.dev.yaml
deployments/docker-compose.local.yaml
README_BOILERPLATE.md
database.sql